
/* HEADER */
header {
    background-color: rgb(65, 65, 65);
    border-bottom: dotted;
    border-color: rgb(36, 36, 36);
    border-width: 3px;
    }

    #sidmeny {
      display: flex;
    }
    .menylank {
      text-decoration: none;
      color: rgb(255, 255, 255);
      
      background-color: rgb(0, 0, 0);
      padding: 15px;
      border: 0px rgb(255, 255, 255);
      border-radius: 20px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: bold;
    }

    .menylank:hover {
      color: rgb(255, 0, 0);
      transform: scale(1.1);
    }

    

    /* BODY */

  body {
    background-color:rgb(65, 65, 65);
  }


p {
font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
margin: 10px;
}

.OmOssBilder {
width: 800px;
}

h1 {#c74444
  color: rgb(199, 68, 68);
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

/* FOOTER */

footer {
  background-color: antiquewhite;
  border-top: dotted;
  border-color: chocolate;
  border-width: 3px;
}